@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";

    string GenerateGreetingMessage()
    {
        var currentHour = DateTime.Now.Hour;
        string greetingMessage;

        if (currentHour < 12)
        {
            greetingMessage = "Good morning!";
        }
        else if (currentHour < 18)
        {
            greetingMessage = "Good afternoon!";
        }
        else
        {
            greetingMessage = "Good evening!";
        }

        return greetingMessage;
    }
}

<h2>We're Turg!</h2>
<p>@GenerateGreetingMessage()</p>
<p>Turg is your go-to New-Gen Ecommer platform for a seamless shopping experience.</p>
