<!DOCTYPE html>
<html>

<head>

    <title>Turg - Welcome</title>

    <style>
        #main-container {
            text-align: center;
        }
        .logo-top {
            width: 150px;
            height: 100px;
        }
    </style>

</head>

<body>
    <div id="main-container">
        <img class="logo-top" src="/assets/logo-turg.png" alt="Turg" />
        <h2>We're Turg!</h2>
        <p>Turg is your go-to New-Gen Ecommer platform for a seamless shopping experience.</p>
        <footer>
            <p>Copyright 2024</p>
        </footer>
    </div>
</body>

</html>
